glm.cpp
glm.h
main.py
MainFrm.cpp
MainFrm.h
MathFunctions.cpp
MathFunctions.h
my.bat
RCa03192
ReadMe.txt
redirectio.cpp
resource.h
SharedStructures.cpp
SharedStructures.h
SingularValueDecomposition.cpp
SolveUnSymmetricSparseSystem.cpp
SolveUnSymmetricSparseSystem.h
StdAfx.cpp
StdAfx.h
SubSloving.h
tags
Timing.cpp
Timing.h
zy.aps
zy.clw
zy.cpp
zy.dsp
zy.dsw
zy.h
zy.ncb
zy.opt
zy.plg
zy.rc
zyDoc.cpp
zyDoc.h
zyView.cpp
zyView.h
config
description
HEAD
applypatch-msg.sample
commit-msg.sample
post-update.sample
pre-applypatch.sample
pre-commit.sample
pre-push.sample
pre-rebase.sample
prepare-commit-msg.sample
update.sample
exclude
FaceVector.obj
FaceVector.sbr
glm.obj
glm.sbr
L0.obj
L0.sbr
L0BYEDGE.obj
L0BYEDGE.sbr
L0BYFACEVECTOR.obj
L0BYFACEVECTOR.sbr
L0_ByEdge.obj
L0_ByEdge.sbr
MainFrm.obj
MainFrm.sbr
MathFunctions.obj
MathFunctions.sbr
MeshDenoising.obj
MeshDenoising.sbr
RECOVERYBYL2.obj
RECOVERYBYL2.sbr
redirectio.obj
redirectio.sbr
SharedStructures.obj
SharedStructures.sbr
SingularValueDecomposition.obj
SingularValueDecomposition.sbr
Sloving.sbr
SolveUnSymmetricSparseSystem.obj
SolveUnSymmetricSparseSystem.sbr
StdAfx.obj
StdAfx.sbr
SubSolving.obj
SubSolving.sbr
vc60.idb
vc60.pdb
zy.bsc
zy.exe
zy.ilk
zy.obj
zy.pch
zy.pdb
zy.res
zy.sbr
zyDoc.obj
zyDoc.sbr
zyView.obj
zyView.sbr
Thumbs.db
Toolbar.bmp
zy.ico
zy.rc2
zyDoc.ico
